.container {
  display: flex;
  flex-wrap: wrap;
}

.gridColor {
  background-color: red;
  width: 50px;
  height: 50px;
  flex-basis: 60px;
  flex-grow: 0;
  flex-shrink: 0;
}

.gridColor:hover {
  background-color: green;
}
